.product-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 14px;
}

.product-grid article > div:last-child button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.product-grid article > small {
  min-height: 32px;
}
